@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiper-pagination {
  margin-top: 10px;
}
/* 
.home-banner {
  background-image: url('/public/home-banner.jpg');
} */

@layer components{
  .team-card{
    
      @apply w-[250px] h-auto md:w-[200px]  lg:w-[300px];
      @apply  hover:bg-slate-100 hover:shadow-lg hover:scale-105;
      @apply  flex flex-col justify-center items-center;
  }
  .team-card-img{
    @apply block mx-auto sm:mx-0 sm:shrink-0 object-cover rounded-full h-[100px] w-[100px];
  }
}